.applianceTracker {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  .left {
    width: 50%;
    border-right: #bdbdbd 1px solid;
  }
  .right {
    width: 50%;
  }

  .leftButton,
  .rightButton {
    color: black;
    background-color: white;
    padding: 0.5rem;
    border: none;
    &:hover {
      color: white;
      background-color: #044fbd;
    }
  }
}
