.header-container {
	text-align: left;
	padding: 0 1.75rem;
	
	.main-header {
		padding-top: 3.25rem;
		font-size: 2.75rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		line-height: 2.75rem;
	}
	
	.main-title {
		padding: 0 0 3.25rem 0.25rem;
		font-size: 1.9rem;
		font-weight: 500;
		letter-spacing: 0.05rem;
		line-height: 2.25rem;
	}
	
}