.header-containerA {
  margin-left: 1.5%;
  margin-top: 0.5%;
  .main-headerA {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  .main-titleA {
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
  }
}
