@import "./variables.scss";

.user-input {
  .device-container {
    margin: 5%;
  }
  h1 {
    font-size: 3rem;
    border-bottom: $grey-border;
  }

  h2 {
    border-bottom: $grey-border;
    margin: 5%;
    padding-bottom: 5%;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: bold;
  }

  label {
    font-size: 1.6rem;
  }
  .device-section {
    border-bottom: $grey-border;
  }

  .device-fields {
    display: flex;
    flex-direction: row;
    margin: 5% 0% 5% 25%;
    border: $grey-border;
  }
  input {
    position: static;
    // opacity: 0;
    padding: 8% 0;
  }
}
