.welcomeHeader {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6%;
  .userName {
    text-decoration: underline;
    text-decoration-color: #044fbd;
  }
  .notUser {
    text-align: left;
  }
  .newAccount {
    color: #044fbd;
  }
  @media (min-width: 1025px) {
    margin-top: 0;
  }
}
