.welcomeHeader {
  display: flex;
  justify-content: space-evenly;
  margin: 3%;
  .userName {
    text-decoration: underline;
    text-decoration-color: #044fbd;
  }
  .notUser {
    text-align: left;
  }
  .newAccount {
    color: #044fbd;
  }
}
