.logo-container-main {
	width: 15rem;
}

.logo-header-main {
	padding: 3.25rem;
	margin-bottom: .75rem;
	background: transparentize($color: #4f4f4f, $amount: 0);
}

.encon-logo-main {
	display: flex;
	padding: 1rem 3rem;
}